.root {
  padding: 16px;
  height: 100%;
  overflow-y: auto;
}

.header {
  margin-bottom: 16px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerHeading {
  margin: 0;
  color: var(--boxmox-color-text-primary);
}

.headerSubtitle {
  color: var(--boxmox-color-text-secondary);
}

.filters {
  margin-bottom: 16px;
}

.licenseKey {
  font-size: 12px;
}

.statusTag {
  font-size: 11px;
  text-transform: uppercase;
  margin-inline-end: 0;
}

.filtersSpace {
  width: 100%;
}

.filterSearch {
  width: 250px;
}

.filterSelect {
  width: 120px;
}

.filterSearch input::placeholder {
  color: var(--boxmox-color-text-muted);
}

@media (max-width: 900px) {
  .filterSearch,
  .filterSelect {
    width: 100%;
  }
}
